*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: #c0c0c0;
    justify-content: space-between;
    padding: 0 1rem;
}

nav ul{
    display: flex;
    gap: 0.5rem;
}
nav ul li a{
    text-decoration: none;
    display: flex;
    color: black;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
}
nav ul li{
    list-style: none;
}
@media screen and (min-width: 1024px){
    .icone_menu_mobile{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .icone_menu_mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: .5rem 1rem;
        width: 3rem;
        height: 4rem;
    }
    .icone_menu_mobile .hamburger{
        border-top: 2px solid black;
        width: 20px;  
    }
    .icone_menu_mobile .hamburger::after,
    .icone_menu_mobile .hamburger::before{
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }
    nav ul{
        display: none;
    }
    nav.active ul{
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
        top: 80px;
        height: calc(100vh - 80px);
        background: #dbdbdb;
        z-index: 999;
    }
    nav.active .hamburger{
        border-top-color: transparent;
    }
    nav.active .hamburger::before{
        transform: rotate(135deg);
    }
    nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    

   
    
}