*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *{
    font-family: "Roboto";
}
body{
    background: linear-gradient(150deg, #0F2B05 4%, #000000 87%);
    height: 100vh;
    text-align: center;
}
header{
    padding: 75px 0;
}
.card{
    width: 354px;
    height: 508px;
    display: inline-block;
    background-image: url(./assets/bg-explorer.svg);
    cursor: pointer;
    opacity: 0;
    animation: appear .4s forwards;
    transform: translateY(-100px);
}

.card img{
    width: 150px;
    height: 150px;
    border: 4px solid #F7DD43;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 100px;
    margin-bottom: 110px;
    pointer-events: none;
    user-select: none;
    transform: rotateY(-180deg);
    animation: flip .4s forwards; 
    
}



.card .info{
    text-align: left;
    margin-left: 60px; 
    margin-top: 10px;
}
.card .info h1{
    font-weight: 700;
    font-size: 18px;    
    color: white;
}

.card .info p{
    font-weight: 400;
    font-size: 14px;
    color: white;
}

@keyframes appear{
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

 @keyframes flip{
    to{
        transform: rotateY(180deg);
    }
} 